<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zikula ist nicht installiert!</title>
<style type="text/css">
a img { border: 0px;}
</style>
</head>
<body>
<h1>Zikula ist nicht installiert!</h1>
<p style="font-size: 1.2em">Diese Nachricht erscheint, da das Zikula Application Framework noch nicht installiert ist. Die Installation kann über das <a href="install.php">Installationsskript</a> gestartet werden. Bitte vorab einen Blick in die deutsche <a href="docs/README_de">Installationsbeschreibung</a> werfen. Weitere Anleitungen befinden sich im <a href="http://wiki.zikula.de">deutschen Wiki</a> oder im <a href="http://community.zikula.org/Wiki-UserDocs.htm">internationalem Dokumentations-Wiki</a>.</p>
<p>Zikula ist ein unter GPL lizenziertes und frei verfügbares Framework. Zusätzliche Informationen unter <a href="http://www.zikula.de" title="Zikula Homepage">http://www.zikula.de</a>.</p>
<div style="text-align: center; margin-top: 20px">
<a href="http://zikula.de"><img src="images/powered/small/cms_zikula.png" alt="Web site powered by Zikula" width="80" height="15" /></a>
<a href="http://adodb.sourceforge.net"><img src="images/powered/small/adodb_powered.png" alt="ADODB database library" width="80" height="15" /></a>
<a href="http://www.php.net"><img src="images/powered/small/php_powered.png" alt="PHP Language" width="80" height="15" /></a>
</div>
</body>
</html>
